body {
      margin: 0;
      padding: 0;
      font-family: 'PT Sans', sans-serif;
}

header {
      background-color: #292c2f;
      padding: 5px 0;
      position: fixed;
      width: 100%;
}

/* stops the blue highlight on tap/click */
a {
	-webkit-tap-highlight-color: transparent;
}

.company-logo {
      display: block;
      text-decoration: none;
      font-family: Cookie, cursive;
      width: 100px;
      height: 100px;
      margin: auto;
      text-align: center;
      color: white;
      font-size: 35px;
      font-weight: normal;
      line-height: 2.6;
      border-radius: 50%;
      background-color: #181a1b;
}

.main-content {
      position: relative;
      top: 110px;
      z-index: -1;
      padding: 10px;
}

.main-content>h2 {
      text-align: center;
      padding: 0;
      margin: 0;
}

.result {
      margin: 15px 15px 0;
}

.item {
      margin-bottom: 50px;
      border: 1px solid #292c2f;
      border-radius: 5px;
      padding: 10px;
}

.item>div * {
      margin: 0;
}

.poster {
      width: 100%;
}

img {
      width: 100%;
      max-width: 100%;
      border-radius: 5px;
}

.main-info>h2 {
      text-align: center;
      padding: 5px 0 10px;
}

.main-info>div, .extra-info>div {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.main-info>div>span, .extra-info>div>span {
      width: 50%;
      text-align: center;
}

.main-info > p, .extra-info > p {
      margin: 8px 0;
      text-align: center;
}
.result i.fa {
      font-size: 20px;
      margin: 5px;
}

.loader {
      border: 10px solid #f3f3f3; /* Light grey */
      border-top: 10px solid #292c2f; /* Blue */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1.2s linear infinite;
      margin: 30vh auto;
      display: none;
}

.known-for {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
}

.project {
      max-width: 60px;
      width: 60px;
      word-wrap: break-word;
      padding: 5px;
}

.project p {
      font-size: 0.7rem;
      text-align: center;
}

footer {
      background-color: #292c2f;
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
}

footer button {
      padding: 5px 6px;
      border-radius: 50%;
      color: white;
      outline: none;
      border: none;
      background-color: tomato;
      transition: 0.3s;
}

footer span {
      color: white;
      padding: 15px 20px;
      border-radius: 50%;
      background-color: #181a1b;
      margin: 10px;
}

footer button:hover {
      background-color: white;
      color: tomato;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (min-width: 450px) {
      .item {
            display: flex;
      }
      .poster {
            flex: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
      }
      .main-info>h2 {
            margin-bottom: 20px;
      }
      .info {
            flex: 65%;
            padding: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
      }
      .project {
            max-width: 90px;
            width: 90px;
            word-wrap: break-word;
            padding: 5px;
      }
      .main-info>div{
            width: 300px;
      }
      
}

@media (min-width: 900px) {
      .poster {
            flex: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
      }
      .main-info>h2 {
            margin-bottom: 20px;
      }
      .info {
            flex: 80%;
            padding: 0 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
      }
      .project {
            max-width: 110px;
            width: 110px;
            word-wrap: break-word;
            padding: 5px;
      }
}